.App {
  min-width: 550px;
}

.word {
  background-color: #ffecb3;
}

.note {
  .note-buttons {
    display    : table;
    float      : right;
    line-height: 1.2rem;
    font-size  : small;
    text-align : center;
  }
  .note-header {
    display: grid;
    grid-template-columns: auto auto;
  }
}

.config {
  min-height: 400px;
}