.App {
  min-width: 500px;
}

.word {
  background-color: lighten(yellow, 20%);
}

.note {
  .note-buttons {
    display: table;
    float: right;
    line-height: 1.2rem;
  }
}
._watermark {
  text-align: center;
  font-size: larger;
  opacity: 0.5;
  z-index: 99;
}

.star {
  @extend ._watermark;
  &::before {
    color: black;
    content: '☆'
  }
  &.starred::before {
    color: goldenrod;
    content: '★'
  }
}

.dot {
  @extend ._watermark;
  &::before {
    color: black;
    content: '⦾'
  }
  &.filled::before {
    color: darken(red, 20%);
    content: '⦿'
  }
}

.config {
  min-height: 400px;
}